# Data Exploration

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
csv_path = 'data/raw_data/BTC-USD.csv'
csv_path_preprocessed = 'data/preprocessed_data/BTC-USD.csv'

In [3]:
df = pd.read_csv(csv_path, index_col='Date')
df_preprocessed = pd.read_csv(csv_path_preprocessed, index_col='Date')

In [4]:
# df.isna().sum()

In [5]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

In [6]:
df_preprocessed[-5:]

,Open,High,Low,Close,Volume,Variation,Percentual Variation,RSI,Stochastic_oscillator,OBV,ATR,EMA_14,EMA_12,EMA_26,MACD,Signal_MACD,Money_flow,Chaikin,0
Date,,,,,,,,,,,,,,,,,,,
2023-12-20,42261.300781,44275.585938,42223.816406,43652.250000,27868908174,1390.949219,3.291307,41.861567,0.764420,1364548400191,155.179001,42221.700325,42356.628919,41170.296767,-1186.332153,-1389.815234,1.093553e+10,-2.123121e+10,43869.152344
2023-12-21,43648.125000,44240.667969,43330.050781,43869.152344,22452766169,221.027344,0.506385,43.000299,0.812933,1387001166360,76.128299,42441.360594,42589.324831,41370.211994,-1219.112836,-1355.674754,4.132107e+09,-2.070757e+10,43997.902344
2023-12-22,43868.988281,44367.957031,43441.968750,43997.902344,21028503216,128.914063,0.293861,38.685960,0.841730,1408029669576,71.579756,42648.899494,42806.029063,41564.855724,-1241.173339,-1332.774471,4.221171e+09,-2.036779e+10,43739.542969
2023-12-23,44012.199219,44015.699219,43351.355469,43739.542969,13507796558,-272.656250,-0.619502,35.620945,0.847966,1394521873018,52.565965,42794.318624,42949.646587,41725.943668,-1223.702919,-1310.960161,2.277880e+09,-2.071959e+10,43663.621094
2023-12-24,43728.367188,43944.273438,43502.304688,43663.621094,14384948224,-64.746094,-0.148064,36.396492,0.829598,1380136924794,35.323908,42910.225620,43059.488819,41869.475329,-1190.013490,-1286.770827,-3.884078e+09,-2.096230e+10,43663.621094